
@model SuperAlmendros.Models.Producto

@{
    ViewBag.Title = "Crear Producto";
}

<h2>Crear Producto</h2>

@using (Html.BeginForm("Create", "Productos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Producto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoProducto, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.CodigoProducto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CodigoProducto, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stock, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idCategoria, "Categoría", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("idCategoria", (SelectList)ViewBag.idCategoria, "Seleccione una categoría", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idCategoria, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, "Estado", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("Estado", (SelectList)ViewBag.Estados, "Seleccione un estado", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Label("Imágenes", htmlAttributes: new { @class = "control-label" })
            <input type="file" name="imagenes" multiple class="form-control" />
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Imagenes, "", new { @class = "text-danger" })</span>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a href="@Url.Action("Index", "Productos")" class="btn btn-secondary">Volver a la lista</a>
            </div>
        </div>
    </div>
}
