@model Proyecto_Super_Almendro.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Super Almendros";
}

<h2>Iniciar Sesión</h2>
<div>

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Usuario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contraseña, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Contraseña, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Iniciar Sesión" class="btn btn-default" />
            </div>
        </div>
    </div>
    <p>@Html.ActionLink("Registrarse", "Registrar", "Usuarios", new { area = "" }, new { @class = "h1" })</p>
}
